.logo_holder {
  margin: 0px;
  padding: 25px;
  width: 40vh;
  max-width: 60vw;
  margin: auto;
  vertical-align: middle;
}

.logo {
  width: 100%;
  margin: 0px;
}

.icon {
  width: 2.5vmin;
  padding: 1vmax;
  opacity: 50%;
  cursor: pointer;
}

.mid_align {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0px;
  padding: 0px;
}

.mid_bound {
  text-align: center;

  margin: 0px;
  padding: 10px;
}

.midfront {
  padding-top: 5vh;
}

.main_color_section {
  background: rgb(0, 172, 144);
  background: linear-gradient(135deg, rgba(0, 172, 144, 0.7) 0%, rgba(34, 62, 145, 0.7) 51%, rgba(146, 0, 156, 0.7) 100%);

  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.contactflexdiv {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.contactflexitem {
  flex: 0 0 25vmin;
  margin: 5vmax;
  pointer-events: none;
}

.contactflexitem img {
  width: 100%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  pointer-events: auto;
}

.contactflexitem img:hover {
  width: 100%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  opacity: 60%;
}

.tinytext {
  font-size: 1.5vmin;
}