.navitem {
  display: inline-block;
  margin: 0px;
  padding: 2px 10px;
  background-color: transparent;
  font-size: 3vh;
  font-weight: 700;
}

.navitem a {
  margin: 0px;
  padding: 0px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.navitem p {
  opacity: 30%;
}

.navitem a:hover {
  opacity: 60%;
}

.navbar {
  margin: 0em;
  padding: 1vmax 2vmax;
  text-align: left;
  background-color: transparent;
}

.footerdiv {
  padding: 1vh 5vw;
  margin: 0;
  text-align: center;
  font-size: 1.5vmin;
}