head {
  padding: 0px;
  margin: 0px;
  height: 0px;
}

html, body {
  padding: 0px;
  margin: 0px;
  background-color: #111111;
  color: #DDDDDD;
  scrollbar-width: none;
  -ms-overflow-style: none;
  pointer-events: none;
  font-size: 2vh;
}

html::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 6vmin;
}

h2 {
  font-size: 5vmin;
}

h3 {
  font-size: 4vmin;
}

h4 {
  font-size: 3vmin;
}

a {
  color: #2ca7f9;
  text-decoration: none;
  pointer-events: auto;
}

a:hover {
  color: #2c41f9;
  text-decoration: none;
}
